/****** Main Styling ******/

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #222;
  background: rgb(143, 132, 198);
  background: linear-gradient(
    29deg,
    rgba(143, 132, 198, 1) 0%,
    rgba(255, 103, 103, 1) 50%,
    rgba(255, 205, 135, 1) 100%
  );
	text-align: center;
	display: flex;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.container {
  padding: 0;
  margin-top: 40px;
}

.footer {
  margin-top: 60px;
}

ol {
  list-style-position: inside;
}
ul {
  list-style-type: none;
}

a {
  color: #2574a9;
}

input {
  display: block;
  position: relative;
  margin: 10px auto;
}
input#button {
  width: 230px;
}
.view {
  position: relative;
  margin: auto;
  margin-top: 40px;
	border: 0px solid rgba(0,0,0,0.2);
	background-color: rgba(0,0,0,0.1);
  border-radius: 60px;
  padding: 20px;
  width: 60%;
  min-width: 400px;
}
/****** Logo Div Styling ******/

img {
  margin: 20px auto 0 auto;
  display: block;
}
